<div class="row">
	<div class="col-xs-12">
		<p>Select from the lists below, one from each column to create your writing matrix. Or you can </span><button class="btn btn-info" ng-click="selectRandom()">Get random!</button></p>
	</div>
</div>
<div class="row pad-row">
	<div class="col-xs-10" ng-if="list1 > -1 && list2 > -1 && list3 > -1">
		<span class="alert alert-info">Today, you are: <strong>{{writing_options[0].category}}</strong> the {{writing_options[0].options[list1]}}, <strong>{{writing_options[1].category}}</strong> {{writing_options[1].options[list2]}}, using {{writing_options[2].options[list3]}}.</span>
		<button class="btn btn-danger" ng-click="clearOptions()">Clear</button>
	</div>
</div>
<div class="row">
  <div class="col-md-4">
	  <h3>{{writing_options[0].category}}</h3>
	  
	  <ul class="list-group">
		  <li class="list-group-item" ng-class="{'list-group-item-success':list1 === $index}" ng-repeat="option in writing_options[0].options" ng-click="highlightList1Option($index)">
			  {{option}}
		  </li>
	  </ul>
  </div>
  <div class="col-md-4">
	  <h3>{{writing_options[1].category}}</h3>
	  
	  <ul class="list-group">
		  <li class="list-group-item" ng-class="{'list-group-item-success':list2 === $index}" ng-repeat="option in writing_options[1].options" ng-click="highlightList2Option($index)">
			  {{option}}
		  </li>
	  </ul>
  </div>
  <div class="col-md-4">
	  <h3>{{writing_options[2].category}}</h3>
	  
	  <ul class="list-group">
		  <li class="list-group-item" ng-class="{'list-group-item-success':list3 === $index}" ng-repeat="option in writing_options[2].options" ng-click="highlightList3Option($index)">
			  {{option}}
		  </li>
	  </ul>
  </div>
</div>